*{
    margin:0px;
    padding:0px;
}
img{
    width:50px;
}
#menuBar{
    display:none;
    border: 2px solid black;
    height:100%;
    width:100%;
    position:fixed;
    text-align: center;
    background:black;
}
#menuBar li{
    text-decoration:none;
    margin:10px;
}
.topBarContainer{
    display:flex;
}
.topLeft{
    flex:1;
}
.topRight{
    flex:1;
    margin:2%;
    display:flex;
    justify-content:flex-end;

}
.contetContainer{
    text-align:center;
    margin-top:50px;
    border: 1px solid black;
}
.contetContainer h3{
    margin-top:25px;
}
#cartoonPic{
    width:250px
}
.body{
    text-align:center;
    border: 1px solid black;
    margin-top:30px;
}
.recentWorks{
    border: 1px solid black;
    margin-top:30px;
    text-align:center;
}
.recentWorkContainer{
    display:flex;
}
.recentWork{
    flex:1;
    border: 1px solid black;
    margin-top:30px;
}
.recentWorkImgs{
    width:100%;
}
.footer{
    text-align:center;
    border: 1px solid black;
    margin-top:30px;
}
.socialMediaIcons{
    width:20px;
}
@media screen and (min-width: 900px) {
    *{

        font-size:20px;
    }

    h1{
        font-size:45px;
    }
    h3{
        font-size:40px;
    }
    #menuBar{
        display:flex;
        height:100%;
        width:100%;
        position:inherit;
        background:white;
    }
    #menuBar li{
        list-style-type: none;
    }
    #sidebarIcon{
        display:none;
    }
    #title{
        flex:1;
    }
    #menuOptions{
        flex:2;
    }
    .menuOptionsContainer{
        display:flex;
    }
    .menuOption{
        flex:1;
    }
    .topBarContainer{
        display:none;
    }
    .contetContainer{
        margin-bottom: 25px;
    }
    #cartoonPic{
        width:300px
    }
    .body{
        width:75%;
        margin:auto;
    }
    .body p{
        margin-top:20px;
    }
}