div{
    padding:20px;   
}
#tabMenu ul{
  color:black;
  display:flex;
  justify-content:space-around;
}
#tabMenu li{
  font-size:20px;
  list-style-type:none; 
  text-transform:uppercase;
  border:1px solid black;
  border-radius:5px;
  padding:10px;
}
.menuOptions{
  visibility:collapse;
  height:0px;
  transition:all .2s;
  box-sizing: border-box;
  border:solid 1px transparent;
}

.menuOptions.active {
  visibility:visible;
  height:100vh;
}
#fullName{
    display:flex;
    justify-content:space-around;
}
#imageTab{
    display:flex;
    justify-content:space-around;    
}
#personalPhoto{
    width:100px;
    height:100px;
    border-radius:75%;
    transform: rotate(90deg);
}

.image-container{
    display:flex;
    flex-wrap:wrap;
}
.image-style{
    width:100px;
    justify-content:center;
}

.image{
    width:25%;  
    
}
.caption{
    text-align:center;
}
#aboutMeContent{
    width: 500px;
    justify-content:space-around;
}
#s2{
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    border: 1px solid;
}
#Portfolio{
    padding: 30px;
    width: 800px;
    margin: 0 auto;
    border: 1px solid;
    justify-content:center;
}
