*{
    margin:0px;
    padding:0px;
}
img{
    width:50px;
}
#menuBar{
    display:none;
    border: 2px solid black;
    height:100%;
    width:100%;
    position:fixed;
    text-align: center;
    background:black;
}
#menuBar li{
    text-decoration:none;
    margin:10px;
}
.topBarContainer{
    display:flex;
}
.topLeft{
    flex:1;
}
.topRight{
    flex:1;
    margin:2%;
    display:flex;
    justify-content:flex-end;

}
.contetContainer{
    text-align:center;
    margin-top:50px;
    border: 1px solid black;
}
.contetContainer h3{
    margin-top:25px;
}
.body{
    text-align:center;
    border: 1px solid black;
    margin-top:30px;
}
.recentWorks{
    border: 1px solid black;
    margin-top:30px;
    text-align:center;
}
.recentWorkContainer{
    display:flex;
}
.recentWork{
    flex:1;
    border: 1px solid black;
    margin-top:30px;
}
.recentWorkImgs{
    width:100%;
}
.footer{
    text-align:center;
    border: 1px solid black;
    margin-top:30px;
}
.socialMediaIcons{
    width:20px;
}
@media only screen and (min-width: 1000px) {
    img{
        display:none;
    }
    #menuBar{
        display:flex;
        display:block;
    }
    #title{
        flex:1;
    }
    #menuOptions{
        flex:1;
        display:flex;
        justify-content:space-between;
    }
}